USE [BasketballLeague]
GO
/****** Object:  Table [dbo].[LuxuryTax]    Script Date: 6/22/2024 9:53:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuxuryTax](
	[TaxID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[SeasonYear] [int] NOT NULL,
	[TaxAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaxID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LuxuryTax]  WITH NOCHECK ADD FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
